#custom_full_span {
    color: #86878B !important;
    text-align: center;
    font-size: 10px !important;
    font-style: normal;

    #custom_sub_span {
        color: #000 !important;
        font-weight: 700 !important;
    }
}
